// .middle-stats ion-col{
//   padding: 0;
// }

.streak{
  display: flex;
}

.stat-number{
  font-weight: bold;
  font-size: 2.5em;
}

ion-img {
  display: inline-block;
  width: 85px;
}

.strikes-tracker ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strikes-none{
  filter: grayscale(100%);
  opacity: 0.5;
}

h2{
  margin: 0;
}
